<form class="text-center border border-light p-5" #userRef="ngForm" (ngSubmit)="buttonBehaviour(userRef.value)">

    <p class="h4 mb-4">Sign in</p>
  
    <!-- Email -->
    <input type="User" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Username" required name="user" ngModel>
  
    <!-- Password -->
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password" required name="pass" ngModel>
  
    <p style="color:red">{{msg}}</p>

    <!-- Sign in button -->
    <button mdbBtn [disabled]="userRef.invalid" color="info" block="true" class="my-4" type="submit">Sign in</button>
  
    <!-- Register -->
    <p>New here?
      <a href="\signup">Sign Up</a>
    </p>
  
  
</form>
  